.messages {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogueList{
    padding: 10px;
}

.dialogue{
    color: blue
}

.active{
    color:gold
}

.messageList{
    padding: 20px;
}

.message{
    color:blue
}