.appWraper {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  grid-template-areas:
  'header header'
  'nav content'
  'footer footer';
}

.header {
  grid-area: header;
  background-color: rgba(211, 44, 44, 0.445);
}

.header img {
  height: 100px;
}

.nav {
  grid-area: nav;
  background-color: rgba(26, 26, 160, 0.479);
}

.profile {
  grid-area: content;
  background-color: greenyellow;
}

.mainImage {
    height: 200px;
    overflow: hidden
}

.footer {
  grid-area: footer;
  background-color: rgba(80, 44, 211, 0.445);
}